html {
  background-color: #fdf6e3;
}

h1, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents {
  color: #93a1a1;
}
#favs {
  color: #93a1a1;
}
#facts{
  color: #93a1a1;
}
#types {
  color: #93a1a1;
}

.wrapper: first-child {
  background-color: #b58900;
}



p + strong {
  color: #fff;
}

ul  a {
  background-color: #719e07;
}

.no-highlight {
  background-color: none;
}

ul li: nth-child(3) {
  background-color: #2694d8
}
