html {
  background-color: #fdf6e3;
}

footer {
  font-size: 1.5rem;
}

header {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

.contents {
  color: #93a1a1;
}
.favs {
  color: #93a1a1;
}
.facts {
  color: #93a1a1;
}
.types {
  color: #93a1a1;
}

.wrapper:first-child {
  background-color: #b58900;
}

p + strong {
  color: #fff;
}

ul  a {
  background-color: #719e07;
}

h2 + ul:nth-child(3) {
  background-color: #2694d8;
}

ol:first-child {
  color: #719e47;
}

ol:last-child {
  color: #2aa198;
}

.types:nth-child(odd) {
  background-color: #657ba3;
}

.types:nth-child(even) {
  background-color: #586e75;
}

.types:nth-child(3n) {
  background-color: #d04b16;
}
